<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594604375020-qps2j65g2f96gr5pt19l9rfnvth6anqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594604375020-qps2j65g2f96gr5pt19l9rfnvth6anqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDS83rNMsRBQDqbQAbLTLauIkWBndv9Gcc</string>
	<key>GCM_SENDER_ID</key>
	<string>594604375020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awarewegoapp.awarewego</string>
	<key>PROJECT_ID</key>
	<string>awarewego-app</string>
	<key>STORAGE_BUCKET</key>
	<string>awarewego-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594604375020:ios:863c8127e45b2e79</string>
	<key>DATABASE_URL</key>
	<string>https://awarewego-app.firebaseio.com</string>
</dict>
</plist>